@{
    ViewBag.Title = "Fruit";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<html>
    <body>

			<div class="progress" style="height:120px">
      
    <div class="progress-bar"  style="width:100%;height:100px">
      <div  class="karyaBancontent karyaMainhome">
          <p style="font-family:'Times New Roman'">Adopting a new healthier lifestyle can involve changing diet to include more fresh fruit and vegetables as well as increasing levels of exercise</p>
          
              <div class="btn-group">
               
              <button type="button"  onclick="About();" style="color:black">About</a></button>
              <button type="button"  onclick="Services();" style="color:black">Services</button>
              <button type="button"  onclick="Company();" style="color:black">Company</button>
              <button type="button"  onclick="Applications();" style="color:black">Applications</button>
              <button type="button" onclick="Images();" style="color:black">Images</button>

              </div>
              
      </div>
    
  
   </div>
</div>
		
	
	
	



<script type="text/javascript" src="js/jquery-git.min.js"></script>
<script type="text/javascript" src="js/instafeed.js"></script>
<script type="text/javascript" src="js/countdown-master/dest/jquery.countdown.min.js"></script>
<script type="text/javascript" src="js/picker/picker.js"></script>
<script type="text/javascript" src="js/picker/picker.date.js"></script>
<script type="text/javascript" src="js/prismjs/prism.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/animate.js"></script>
<script type="text/javascript" src="js/waypoints.js"></script>
<script type="text/javascript" src="js/FlexSlider-release-2-2-0/jquery.flexslider.js"></script>
<script type="text/javascript" src="js/jquery.mb.YTPlayer.min.js"></script>
<script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="js/typed.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/user.js"></script>
<script type="text/javascript" src="js/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
<script type="text/javascript" src="js/placeholder/placeholder.js"></script>
<script type="text/javascript" src="js/jquery.mobile-git.min.js"></script>

</body>

</html>


