@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<body>

<div class="container">
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
   
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://www.theprairiehomestead.com/wp-content/uploads/2015/03/orchard-planning.jpg" alt="Los Angeles" style="width:100%;">
      </div>

     

    <!-- Left and right controls -->
    
  </div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>

</html>


